.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 80vh;
}

.main .img {
    height: 200px;
    width: 200px;
    background: linear-gradient(180deg, #9A33FF, #FF8660);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .img img {
    height: 200px;
}

.heading {
    margin: 0;
}

.heading h1 {
    font-size: 40px;
    background: linear-gradient(90deg, #9A33FF, #FF8660);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800 !important;
    margin: 0;
}

.heading p {
    max-width: 700px;
}

.heading .span {
    display: block;
}

.btn {
    margin-top: 20px;
}

.btn button {
    border-radius: 30px;
    padding: 15px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid white;
    margin: 10px;
}

.btn .btn-2 {
    background-color: transparent;
    color: white;
}

.btn .btn-1:hover {
    background-color: transparent;
    color: white;
}

.btn .btn-2:hover {
    background-color: white;
    color: black;
}

@media (max-width:578px) {
    .heading {
        margin-top: 10px;
    }
    .main .img {
        width: 150px;
        height: 150px;
        margin-top: 10px;
    }
    .main .img img {
        height: 150px;
    }
    .heading h1 {
        font-size: 25px;
        font-weight: 800 !important;
        margin-top: 10px;
    }
}

@media (max-width:386px) {
    .main .img {
        width: 130px;
        height: 130px;
    }
    .main .img img {
        height: 130px;
    }
    .heading h1 {
        font-size: 20px;
        font-weight: 800 !important;
        margin-top: 5px;
    }
}