.contact-items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 22px 10px 0px;
    flex-wrap: wrap;
}

.linkedin {
    padding-left: 15px;
}

.linkedin a {
    display: flex;
    color: white;
    align-items: center;
}

.linkedin p {
    font-size: 14px;
    margin-left: 10px;
}

.gmail,
.phone {
    width: 30px !important;
    height: 30px !important;
    padding-left: 5px;
}

.gmail-p {
    color: white;
}

.linkedin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

form {
    text-align: left;
    padding-left: 10px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

input,
textarea {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(56, 55, 55);
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 10px;
    color: white;
}

.email-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.email-phone>div {
    flex: 1;
}

textarea {
    width: calc(100% - 20px);
    margin-left: 10px;
}

.btn-contact {
    border-radius: 30px;
    padding: 7px;
    font-size: 11px;
    width: 100px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid white;
    margin: 10px;
}

.btn-contact:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

.contact h1 {
    position: relative;
    font-size: 40px;
}

.contact h1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 35.5%;
    height: 2px;
    background: linear-gradient(90deg, #9A33FF, #FF8660);
}

.contact h1::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    width: 35.5%;
    height: 2px;
    background: linear-gradient(90deg, #9A33FF, #FF8660);
}

@media (max-width:1056px) {
    .contact h1 {
        font-size: 38px;
    }
    .contact h1::before {
        left: 28px;
        width: 34%;
    }
    .contact h1::after {
        right: 28px;
        width: 34%;
    }
}

@media (max-width:830px) {
    .linkedin {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .linkedin a {
        width: 50%;
    }
    form {
        margin-top: 10px;
        width: 100%;
    }
    input,
    textarea {
        width: 100%;
    }
    .email-phone {
        display: block;
    }
}

@media (max-width:576px) {
    .linkedin {
        display: flex;
        flex-direction: column;
    }
    .contact h1 {
        font-size: 26px;
    }
    .contact h1::before {
        left: 22px;
        width: 24%;
    }
    .contact h1::after {
        right: 22px;
        width: 24%;
    }
}

@media (max-width:776px) {
    .contact h1 {
        font-size: 35px;
    }
    .contact h1::before {
        left: 25px;
        width: 30%;
    }
    .contact h1::after {
        right: 25px;
        width: 30%;
    }
}

@media (max-width:620px) {
    .contact h1 {
        font-size: 30px;
    }
}

@media (max-width:450px) {
    .contact h1 {
        font-size: 23px;
    }
    .contact h1::before {
        left: 20px;
        width: 20%;
    }
    .contact h1::after {
        right: 20px;
        width: 20%;
    }
}